<div class="books">
  <%= link_to "今日の本を決めるに戻る", random_path, method: :get %>
  <% @books.each do |book| %>
    <div class="book">
      <p><%= book.created_at.year %>年<%= book.created_at.month %>月<%= book.created_at.day %>日の本</p>
      <%= book.title %>
      <%= link_to image_tag(book.img),random_book_path(book) %>
      <%= link_to "delete", random_book_path(book) , method: :delete,
                                      data: { confirm: "本当によろしいですか？" } %>
    </div>

  <% end %>
</div>
